.parrafo{
    text-indent: 35px;
    letter-spacing: 9px;
    word-spacing: 10px;
    line-height: 200%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: justify;

}
